<nav>
    <% const name = "Ahmed's" %>
    <div class="site-title">
        <span><%= name %></span>
        <a href="/"><h1>Blogyyy</h1></a>
        <p>my practice site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>