<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Blogyyy</h1></a>
                <p>my practice site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="404-content">
            <h2>OOPS Page Not Found :(</h2>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>