<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Blogyyy</h1></a>
                <p>my practice site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="about-content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore, tenetur rerum eveniet voluptas enim corporis ea facere odit officiis quia qui deleniti dolore id consequuntur, modi tempora iure amet?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore, tenetur rerum eveniet voluptas enim corporis ea facere odit officiis quia qui deleniti dolore id consequuntur, modi tempora iure amet?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore, tenetur rerum eveniet voluptas enim corporis ea facere odit officiis quia qui deleniti dolore id consequuntur, modi tempora iure amet?</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>